/* estilo geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    background-color: black;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{display: flex;

}
.interface{
    max-width: 1100px;
    margin: 0 auto;
}

h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
    color: #00ff08;
}
/*ESTILO DO CABEÇALHO*/
header{
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{color: rgb(119, 119, 119);
text-decoration: none;
display: inline-block;
transition: .1.9s;
}
header a:hover{
    color: aliceblue;
    transform: scale(1.05);
}


hader nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0px 40px;
}
.contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
 button:hover, form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
    
    
}
/*estilo do topo do site*/
section.topo-do-site{
    padding: 40px 4%;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site .txt-topo-site  h1{
    color: aliceblue;
    font-size: 38px;
    line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span{
    color: #00ff08;
}
.topo-do-site .txt-topo-site p{
    color: #fff ;
margin: 40px 0;}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top:30px;
    }
    
}
/*estilo da expecialidades*/

section .especiliadade{
    padding: 40px 4%;
}
section.especiliadade .flex{
    gap: 60px;
}

   
    

.especiliadade .especiliadade-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
   transition: .2s;
    margin-top: 45px;


}
.especiliadade .especiliadade-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #4fbe0591;
}

.especiliadade .especiliadade-box i{
    font-size: 70px;
    color: #00ff08;

}
.especiliadade .especiliadade-box h3{
    font-size: 28px;
    margin: 15px 0;
}
 /*estilo sobre*/
 section.sobre{
    padding: 80px 4%;
 }
 section.sobre .flex{
    align-items: center;
    gap: 60px;
 }
 .sobre .txt-sobre{
    color: #fff;
 }
 .sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
 }
 .sobre .txt-sobre h2 span{
    color: #00ff08;
    display: block;
 }

 .sobre .txt-sobre p{
  margin: 20px 0;
  text-align: justify;
 }
.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 0;
    background-color: #00ff08 ;
    font-size: 22px;
    cursor: pointer;
    margin: 0 6px;

 }
 /* ESTILO DO PORTIFÓLIO*/

 section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #00ff2a27;
}
section.portfolio .flex{
gap: 80px;
margin-top: 60px;

}
.img-port{
    width: 360px;
    height: 460px;
    background-color: #00ff08;
    background-size: cover;
    background-position: 100% 0%;
    cursor: pointer;
    transition: 7s;
    position: relative;
    border-radius: 40px;
}
.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #00000069;
   border-radius: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   font-size: 25px;
   font-weight: 400;
   opacity: 0;

}
.overlay:hover{
    opacity: 1;
    transition: 0.7s;
}
/*ESTILO DE FORMULARIO PARA CONTATO*/
 section.formulario{
   padding: 80px 4%;
 }
 form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
 }

 form input, form textarea {
    width: 100%;
    background-color: rgba(90, 90, 90, 0.212);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 15px;
 }
  form textarea{ 
    resize: none;
    max-height: 200px;
    
 }
  form .btn-enviar{
    margin-top: 20px;
    text-align: center;
    
 }
 
 form .btn-enviar input{
    width: 120px;
    background-color: #00ff08;
    color: rgb(0, 0, 0);
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
 }
 /*Estilo do rodapé*/
 footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px rgba(43, 255, 0, 0.158);
 }
 footer .flex{
    justify-content: space-between;
 }
 footer .line-footer{
    padding: 10px 0;
 }
.borda{
    border-top: 2px solid #00ff08;

}
 footer .line-footer p i{ 
    color: #00ff08;
    font-size: 20px;
}
footer .line-footer p a {
    color: #ffffff;
    font-size: 17px;
}
@media screen and (max-width: 1050px) {
   
/*classes gerais*/
   .flex {
      flex-direction: column;

}
.topo-do-site .flex{
    flex-direction: column-reverse;
}

   /*cabeçalho*/
    .menu-desktop{
        display: none;
    }
    /*topo do site*/
    .topo-do-site  h1{
       
    
    font-size: 32px;
    }

    section.topo-do-site{
        padding: 20px 8%;
}
  .topo-do-site .img-topo-site{
    width: 80%;
  }
  section.topo-do-site .flex{
    gap: 40px;
  }
 /*RODAPÉ*/

   footer .flex {
    flex-direction: column;
 }
 footer .flex{
    flex-direction: column;
 }
 

}